extends ../layout.pug

block content
  form.form.center-form(method='post', enctype='multipart/form-data')
  h2(align='center') Esta seguro que desea comprar el siguiente producto?
  .cards2(align='center')
    h4=product.name 
    img(src=`${product.image}`)
    h3='precio'
    h4=product.price
    br
    a.btn.btn-small(href=`/product/pay/${product._id}`)='Confirmar'
    a.btn.btn-small.btn-danger(href=`/`)= 'Cancelar'